@font-face {
    font-family: Lato;
    src: url(../font/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: 'Lato-Regular';
}
:root{
    --theme-deafult: #e4604a;
    --background-color-recent: #f1f5f4;
    --bs-body-color: #212529;
    --black-color: #000000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --color-222222: #222222;
    --background-color-footer:#f9f9f9;
    --bs-body-bg: #fff;
    --color-f1f1f1: #f1f1f1;
    --color-f8f8f8: #f8f8f8;
    --color-555555: #555555;
    --color-212529bf: #212529bf;
    --bs-border-width: 1px;
    --bs-border-radius: 0.375rem;
    --bs-border-color: #dee2e6;
    --color-eeeeee:#eeeeee;
    --color-777777: #777777;
    --bs-secondary-bg: #e9ecef;
    --color-fafafa: #fafafa;
    --color-333333: #333333;
    --color-dddddd: #dddddd;
}
body{
    font-family: Lato, sans-serif;
    position: relative;
    background: #fff;     /*#ffffff*/
    font-size: 14px;
    overflow-x: hidden;
    min-width: unset !important;
}
a{
    color: #222222;
}
ul,ol{
    list-style: none;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
/* //////////////////////////////////////////////////Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header {
    background-color: #ffffff;
}

/* ////////////////////////////////////////Header Top\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.top-header{
    background: #f8f8f8;
}
.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}
.top-header .container .row{
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
    padding: 15px 0px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-0.5* var(--bs-gutter-x));
    margin-left: calc(-0.5* var(--bs-gutter-x));
}
.row > *{
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
}
.top-header .container .row .header-content-left{
    display: flex;
    gap: 25px;
    width: 50%;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
.top-header .container .row .header-content-left .phon-number{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.top-header .container .row .header-content-left .phon-number i{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 50%;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
}
.top-header .container .row .header-content-Right div:hover{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right a .wishlist,
.top-header .container .row .header-content-Right a .compare{
    color: #999999;
}
.top-header .container .row .header-content-Right .my-account:hover ul,
.mobile-fix-option .user-btn:hover ul{
    opacity: 1;
    transform: translateY(-20px);
    visibility: visible;
}
.top-header .container .row .header-content-Right div ul,
.mobile-fix-option .user-btn ul{
    top: 50px;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    transition: all linear 0.3s;
    min-width: 160px;
    text-align: left;
    box-shadow: 0 0 1px 0 #ebebeb;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: -52px;
    padding: 15px 20px;
    border-radius: 0 !important;
    transition: all 0.5s ease 0.5s;
}
.top-header .container .row .header-content-Right div ul li,
.mobile-fix-option .user-btn ul li{
    color: var(--black-color);
    font-family: 'Lato-Regular';
    padding-bottom: 5px;
}
.top-header .container .row .header-content-Right div ul li:hover,
.mobile-fix-option .user-btn ul li:hover{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right div{
    display: flex;
    align-items: baseline;
    gap: 5px;
    cursor: pointer;
}
.top-header .container .row .header-content-Right .my-account{
    position: relative;
}
.my-account:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    left: 100px;
    top: 2px;
}

/* ////////////////////////////////////////Header Down\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.mobile-fix-option{
    display: none;
}
.header-down .container.header-position{
    position: fixed;
    background-color: var(--bs-body-bg);
    top: 0;
    z-index: 2;
}
.header-down .container .menu{
    display: flex;
    justify-content: space-between;
    margin: 0 64px;
    padding: 40px 0;
}
.header-down .container .menu .menu-left{
    display: flex;
    align-items: center;
    gap: 35px;
}
.header-down .container .menu .menu-left i{
    font-size: 24px;
}
.header-down .container .menu .menu-left .icon-menu-bar i{
    color: var(--theme-deafult);
    display: none;
}
.header-down .container .menu .menu-right{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.header-down .container .menu .menu-right .link-menu h3{
    display: inline;
    font-family: Lato-Regular;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 0;
    letter-spacing: 0.07em;
    position: relative;
    cursor: pointer;
}
.header-down .container .menu .menu-right .link-menu div{
    display: inline;
}
.header-down .container .menu .menu-right .link-menu .back-btn{
    display: none;
}
.link-menu .choose{
    z-index: 2;
}
.link-menu .choose li{
    display: block;
    position: relative;
    text-transform: capitalize; 
    padding-top: 15px;
    padding-left: 25px;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.9;
}
.link-menu .choose li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.link-menu .choose-second li{
    display: block;
    position: relative;
    text-transform: capitalize; 
    padding-top: 15px;
    padding-left: 25px;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.9;
}
.link-menu .choose-second li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.choose li:hover::after{
    width: 21%;
}


/* //////////////////////////////Menu Home\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .home{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .home .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu div:hover > span ,
 .header-down .container .menu .menu-right .link-menu div:hover h3{
    color: var(--theme-deafult) !important;
}
.header-down .container .menu .menu-right .link-menu .home:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .home .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
      right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .home .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .home .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .home .choose li .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .home .choose li:hover .choose-second{
    display: block;
}

/* //////////////////////////////Menu Shop\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .shop{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .shop .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .shop:hover .choose{
    display: block;
}

/* //////////////////////////////Menu Products\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .products{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .products .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .products:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .products .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
    right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .products .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .products .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .products .choose .first .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .products .choose .first:hover .choose-second {
    display: block;
}

/* //////////////////////////////Menu Features\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .features{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .features .choose{
    position: absolute;
    top: 40px;
    left: -890px;
    width: 1316px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .features:hover .choose{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    left: -520%;
}
.header-down .container .menu .menu-right .link-menu .features .choose .column .title h5{
    margin-left: 25px;
    font-size: 14px;
    font-family: 'Lato-Regular';
}

.header-down .container .menu .menu-right .link-menu .lable-new{
    position: absolute;
    background-color: var(--theme-deafult);
    padding: 2px 7px;
    color: #ffffff;
    top: -20px;
    text-transform: uppercase;
    font-size: 9px;
    left: 0;
    line-height: 1.3;
}
.header-down .container .menu .menu-right .link-menu .lable-new::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--theme-deafult);
    top: 15px;
    left: 5px;
}

/* //////////////////////////////Menu Blogs\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .blogs{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .blogs .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .blogs:hover .choose{
    display: block;
}

/* //////////////////////////////Menu Pages\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .pages{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .pages .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .pages:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .pages .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
    right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .pages .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .pages .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .pages .choose li .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 0px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .pages .choose li:hover .choose-second{
    display: block;
}

/* /////////////////////////Menu Sub Arrow Icon\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .sub-arrow{
    padding-right: 40px;
    padding-left: 5px;
    line-height: 23px;
    font-size: 16px;
}
.header-down .container .menu .menu-right .link-menu .sub-arrow::before{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    font-weight: bolder;
    padding-right: 45px;
}

/* /////////////////////////Menu Icons\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .icon-menu{
    display: flex;
    height: 24px;
    gap: 15px;
}
.header-down .container .menu .menu-right .icon-menu .search_btn{
    cursor: pointer;
}
.modal-search-container{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    cursor: auto;
}
.modal-search-container .modal-search{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-search-container .modal-search .closebtn{
    position: fixed;
    top: 10px;
    right: 25px;
    color: #777777;
    font-size: 40px;
    cursor: pointer;
}
.modal-search-container .modal-search .overlay-content{
    width: 90%;
}
.modal-search-container .modal-search form input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #777777;
    border-radius: 0;
    padding: 20px 0;
    width: 100%;
}
.menu .menu-right .icon-menu .setting-image .show-div,
.mobile-fix-option .setting-btn .show-div,
.menu .menu-right .icon-menu .shopping-cart,
.mobile-fix-option .cart-btn .shopping-cart{
    top: 123px;
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    transition: all linear 0.3s;
    min-width: 175px;
    text-align: left;
    box-shadow: 0 0 1px 0 #ebebeb;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: 0;
    padding: 0;
    border-radius: 0 !important;
    padding: 15px 20px 20px;
    right: 60px;
    left: unset;
    transition: all 0.5s ease 0.5s;
}
.menu .menu-right .icon-menu .setting-image .show-div h6,
.mobile-fix-option .setting-btn .show-div h6{
    font-size: 16px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: 'Lato-Regular';
    cursor: auto;
}
.menu .menu-right .icon-menu .setting-image .show-div h6:first-child,
.mobile-fix-option .setting-btn .show-div h6:first-child{
    margin-top: 0;
}
.menu .menu-right .icon-menu .setting-image .show-div ul li,
.mobile-fix-option .setting-btn .show-div ul li{
    display: flex;
    font-family: 'Lato-Regular';
    padding-bottom: 0;
    padding-left: 17px;
    padding-top: 5px;
}
.menu .menu-right .icon-menu .setting-image .show-div ul li a,
.mobile-fix-option .setting-btn .show-div ul li a{
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
.menu .menu-right .icon-menu .setting-image{
    cursor: pointer;
}
.menu .menu-right .icon-menu .setting-image:hover .show-div,
.mobile-fix-option .setting-btn:hover .show-div,
.menu .menu-right .icon-menu .cart-btn:hover .shopping-cart,
.mobile-fix-option .cart-btn:hover .shopping-cart {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible ;
}
.menu .menu-right .icon-menu .shopping-cart,
.mobile-fix-option .cart-btn .shopping-cart{
    top: 150px;
    padding: 15px 15px;
    min-width: 270px;
    left: unset;
    right: 70px;
    max-height: 315px;
    overflow: auto;
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar,
.mobile-fix-option .cart-btn .shopping-cart::-webkit-scrollbar{
    width: 3px;
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar-track,
.mobile-fix-option .cart-btn .shopping-cart::-webkit-scrollbar-track{
    background: var(--color-f1f1f1);
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar-thumb,
.mobile-fix-option .cart-btn .shopping-cart::-webkit-scrollbar-thumb{
    background: var(--theme-deafult);
    border-radius: 5rem;
}
.menu .menu-right .icon-menu .shopping-cart h5,
.mobile-fix-option .cart-btn .shopping-cart h5{
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}
.menu .menu-right .icon-menu .shopping-cart li,
.mobile-fix-option .cart-btn .shopping-cart li{
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    padding: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .media,
.mobile-fix-option .cart-btn .shopping-cart li .media{
    display: flex;
}
.menu .menu-right .icon-menu .shopping-cart li .media a img,
.mobile-fix-option .cart-btn .shopping-cart li .media a img{
    height: 90px;
    cursor: pointer;
    margin-right: 1rem !important;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body,
.mobile-fix-option .cart-btn .shopping-cart li .media .media-body{
    align-self: center;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body h4,
.mobile-fix-option .cart-btn .shopping-cart li .media .media-body h4{
    font-family: 'Lato-Regular';
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1;
    color: #333333;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body h4 span,
.mobile-fix-option .cart-btn .shopping-cart li .media .media-body h4 span{
    color: #777777;
    font-size: 16px;
}
.menu .menu-right .icon-menu .shopping-cart li .close-circle,
.mobile-fix-option .cart-btn .shopping-cart li .close-circle{
    position: absolute;
    top: 0;
    right: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .close-circle i,
.mobile-fix-option .cart-btn .shopping-cart li .close-circle i{
    color: #a1a1a1;
    transition: all 0.3s ease;
}
.menu .menu-right .icon-menu .shopping-cart li .total,
.mobile-fix-option .cart-btn .shopping-cart li .total{
    border-top: 1px solid #f1f5f4;
    border-bottom: 1px solid #f1f5f4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu .menu-right .icon-menu .shopping-cart li .total h5,
.mobile-fix-option .cart-btn .shopping-cart li .total h5{
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}
.menu .menu-right .icon-menu .shopping-cart li .total h5 span,
.mobile-fix-option .cart-btn .shopping-cart li .total h5 span{
    float: right;
}
.menu .menu-right .icon-menu .shopping-cart li:last-child,
.mobile-fix-option .cart-btn .shopping-cart li:last-child{
    padding-bottom: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .buttons a,
.mobile-fix-option .cart-btn .shopping-cart li .buttons a{
    margin-top: 5px;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #333333;
    text-transform: capitalize;
}
.menu .menu-right .icon-menu .shopping-cart li .buttons,
.mobile-fix-option .cart-btn .shopping-cart li .buttons{
    display: flex;
    justify-content: space-between;
}

.mobile-fix-option .cart-btn .shopping-cart{
    position: absolute;
    top: unset;
    bottom: 42px;
    right: -135px;
}

.mobile-fix-option .cart-btn{
    position: relative;
}
.mobile-fix-option .setting-btn .show-div{
    top: unset;
    bottom: 60px;
    right: 0;
}
.mobile-fix-option .user-btn ul{
    top: unset;
    bottom: 40px;
    right: 13%;
}
.mobile-fix-option .cart-btn .count-products-purchased{
    position: absolute;
    background: var(--theme-deafult);
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: -11px;
    right: -12px;
    padding: 3px 3px;
}
.header-down .container .menu .menu-right .icon-menu .count-products-purchased{
    position: absolute;
    background: var(--theme-deafult);
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 80px;
    right: 65px;
    padding: 3px 3px;
}
.header-down .container.header-position .menu .menu-right .icon-menu .count-products-purchased{
    top: 28px;
}
.header-down .container .menu .menu-right .icon-menu .icon-menu-bar i{
    font-size: 24px;
    display: none;
    color: var(--theme-deafult);
}

/* //////////////////////////////Setting Fixed\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header .setting{
    position: fixed;
    top: 50%;
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
    font-size: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    transition: all 0.5s ease;
    z-index: 2;
    cursor: pointer;
}

/* //////////////////////////////Dark Mode Fixed\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header .dark-mode{
    position: fixed;
    font-family: 'Lato-Regular';
    right: 0;
    width: 40px;
    height: 38px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    top: calc(50% + 52px);
    cursor: pointer;
}
/* //////////////////////////////Tap Top\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.tap-top {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    right: 30px;
    z-index: 8;
    display: none;
    color: #fff;
    text-align: center;
    background: var(--theme-deafult);
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
    bottom: 130px;
    padding-top: 10px;
}



/* //////////////////////////////////////////////////Body Page\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.breadcrumb-section {
    background-color: var(--color-f8f8f8);
    padding: 30px 0;
}
.breadcrumb-section .section-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.breadcrumb-section .page-title {
    display: flex;
    height: 100%;
    align-items: center;
}
.breadcrumb-section .page-title h2{
    font-family: 'Lato-Regular';
    font-size: 16px;
    margin-bottom: 0;
    color: var(--color-222222);
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.02em;
}
.breadcrumb-section .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--color-555555);
    font-weight: 600;
    margin: 0;
    padding-right: 0;
}
.breadcrumb-section .breadcrumb a {
    font-family: 'Lato-Regular';
    color: var(--color-555555);
    font-weight: 600;
}
.breadcrumb-item.active {
    font-family: 'Lato-Regular';
    color: var(--color-212529bf);
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 8px;
    color: var(--color-212529bf);
    content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 8px;
}


.login-page .container{
    width: 90%;
    margin: auto;
}
.login-page .container .col-lg-6{
    flex: 0 0 auto;
    width: 50%;
}
.login-page {
    padding: 70px 0;
}
.login-page h3, .login-page .h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--color-222222);
    font-weight: 700;
    margin-top: -4px;
    font-size: 24px;
    letter-spacing: 0.03em;
}
.login-page .theme-card {
    position: relative;
    padding: 30px;
    border: none;
    line-height: 1;
    background-color:var(--color-fafafa);
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-page .theme-card .theme-form label {
    display: inline-block;
    text-transform: capitalize;
    color: var(--color-333333);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.login-page .theme-card .theme-form input {
    border-color: var(--color-dddddd);
    font-size: 12px;
    padding: 17px 25px;
    margin-bottom: 30px;
    height: inherit;
    border-radius: 0;
}
.login-page .authentication-right {
    height: calc(100% - 48px);
}
.login-page .authentication-right h6{
    text-transform: uppercase;
    color: var(--color-333333);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
}
.login-page .authentication-right p {
    font-size: 14px;
    color: var(--color-555555);
    line-height: 2;
    margin-bottom: 1rem;
    letter-spacing: 0.03em;
    margin-top: 0;

}










/* //////////////////////////////////////////////////Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.subscribe-contraner{
    background-color: var(--background-color-footer);
}
.subscribe-box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #dddddd;
}
.subscribe{
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    border-right: 1px solid #dddddd;
    text-align: left;
}
.subscribe h4{
    font-family: 'Lato-Regular';
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    margin-top: -5px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
}
.subscribe p{
    font-family: 'Lato-Regular';
    letter-spacing: 0.03em;
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
    color: #777777;
    margin-top: 0;
}
.form-email-container{
    width: 50%;
}
.form-email-container .email-form{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.form-email-container .email-form .form-group{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.form-email-container .email-form .form-group .form-control {
    padding: 13px;
    height: 50px;
    width: 345px;
    border-radius: 0;
    border: 1px solid #eeeeee;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-solid {
    font-family: 'Lato-Regular';
    padding: 13px 29px;
    color: #ffffff !important;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-deafult) !important;
    background-image: linear-gradient(30deg, var(--theme-deafult) 50%, transparent 50%) !important;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}
.btn-solid:hover {
    background-position: 100%;
    color: #000000 !important;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}

.footer-about-container{
    background-color: var(--background-color-footer);
}
.about-container{
    width: 90%;
    margin: auto;
}
.about-container .abouts{
    display: grid;
    grid-template-columns: 30% 70%;
}
.about-container .abouts .content-right{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.333%, 1fr));
    flex-wrap: wrap;
    padding-left: 160px;
}
.about-container .abouts .about{
    padding-top: 70px;
}
.about-container .abouts .about .footer-title h4{
    font-family: 'Lato-Regular';
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
    color: #222222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.about-container .abouts .about .footer-title.footer-mobile-title{
    display: none;
}
.about-container .abouts .about .image-logo{
    margin-bottom: 18px;
}
.about-container .abouts .about p{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #777777;
    line-height: 32px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}
.about-container .abouts .about .social-media-div{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.about-container .abouts .about .social-media-div li{
    display: inline-block;
    padding-right: 45px;
}
.about-container .abouts .about .social-media-div li i{
    font-size: 20px;
    color: var(--black-color);
    transition: 0.5s ease;
}
.about-container .abouts .about .social-media-div li i:hover{
    color: var(--theme-deafult);
}
.about-container .abouts .about .footer-content .choose li{
    font-family: 'Lato-Regular';
    padding-top: 9px;
    text-transform: capitalize;
    font-size: 14px;
}
.about-container .abouts .about .footer-content .choose li a{
    position: relative;
    text-transform: capitalize;
    line-height: 1.9;
    color: #777777;
}
.about-container .abouts .about .footer-content .choose li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.about-container .abouts .about .footer-content .choose li a:hover::after{
    width: 100%;
}
.about-container .abouts .about .footer-content .content .communication li{
    position: relative;
    font-family: 'Lato-Regular';
    line-height: 28px;
    padding-left: 25px;
    padding-top: 9px;
    text-transform: capitalize;
    font-size: 14px;
    color: #777777;
}
.about-container .abouts .about .footer-content .content .communication li a{
    color: #777777;
}
.about-container .abouts .about .footer-content .content .communication li i{
    position: absolute;
    left: 0;
    top: 16px;
}

.sub-footer{
    display: flex;
    padding-top: 25px;
}
.sub-footer .sub{
    width: 50%;
}
.sub-footer .sub p{
    font-family: 'Lato-Regular';
    color: #777777;
}
.sub-footer .sub .payment-card-bottom ul{
    display: flex;
    justify-content: flex-end;
}
.sub-footer .sub .payment-card-bottom ul li{
    padding-left: 10px;
}
footer .end{
    display: none;
}








/* //////////////////////////////////////////////////Media Queries\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width: 1367px){
    .form-email-container .email-form .form-group .form-control{
        width: 215px;
    }
    .about-container .abouts .content-right{
        padding-left: 100px;
    }
}
@media (max-width:1200px){
    .menu .menu-right .link-menu{
        position: fixed;
        background-color: #fff;
        width: 300px;
        border-radius: 0;
        border: 1px solid #eee;
        top: 0;
        height: 100vh;
        right: -300px;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: scroll;
    }
    .header-down .container .menu .menu-right .link-menu div,
    .header-down .container .menu .menu-right .link-menu .back-btn{
        display: block;
        width: 100%;
    }
    .header-down .container .menu .menu-right .link-menu div{
        padding: 4px 7px;
        font-size: 16px;
        font-weight: 700;
        position: relative;
    }
    .header-down .container .menu .menu-right .link-menu .lable-new{
        width: 35px;
        top: -11px;
        left: 7px;
    }
    .header-down .container .menu .menu-right .link-menu .sub-arrow {
        position: absolute;
        right: 0;
        padding-right: 0px;
        margin-right: -26px;
    }
    .header-down .container .menu .menu-right .link-menu .sub-arrow::before {
        content: "+";
        font-family: inherit;
        position: relative;
    }
    .header-down .container .menu .menu-right .link-menu div:hover .choose{
        display: none !important;
    }
    .header-down .container .menu .menu-right .link-menu h3{
        padding: 0;
    }
    .header-down .container .menu .menu-right .link-menu .back-btn .mobile-back {
        font-family: 'Lato-Regular';
        padding: 20px;
        font-size: 18px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #efefef;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header-down .container .menu .menu-right .link-menu .back-btn .mobile-back .ps-2 {
        padding-left: 0.5rem !important;
    }
    .header-down .container .menu .menu-right .icon-menu .icon-menu-bar i{
        display: block;
    }

    .subscribe-box{
        flex-direction: column;
        align-items: center;
    }
    .subscribe{
        border-right: unset;
        width: unset;
    }
    .form-email-container {
        width: unset;
    }
    .subscribe p{
        display: none;
    }
    
    .about-container .abouts {
        grid-template-columns: 40% 60%;
    }
    .about-container .abouts .about .footer-title h4{
        font-size: 15px;
    }
    .about-container .abouts .content-right{
        padding-left: 26px;
    }
}
@media (max-width:991px){
    .top-header .container .row{
        justify-content: flex-end;
    }
    .top-header .container .row .header-content-left{
        display: none;
    }

    
    .about-container .abouts {
        grid-template-columns: 50% 50%;
    }
    .about-container .abouts .content-right{
        padding-left: 42%;
        margin-left: -145%;
        grid-template-columns: repeat(3, minmax(33.333%, 1fr));
        grid-template-rows: repeat(2, minmax(50%, 1fr));
    }
    .about-container .abouts .content-right .about3{
        grid-column: 3/4;
    }
}

@media (max-width:768px) {
    .top-header .container .row .header-content-Right{
        width: 100%;
    }



    .form-email-container .email-form .form-group{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .about-container .abouts {
        grid-template-columns: 100% 100%;
    }
    .about-container .abouts .about .footer-title.footer-mobile-title{
        display: block;
    }
    .about-container .abouts .content-right{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(3, 1fr);
        padding-top: 246px;
        padding-left: 45%;
    }
    .about-container .abouts .content-right .about3{
        grid-column: 1/2;
    }
    .about-container .abouts .about {
        padding-top: 14px;
    }
    .about-container .abouts .about .footer-title h4{
        margin-bottom: 0;
        border-bottom: 1px solid var(--color-eeeeee);
        padding-bottom: 10px;
        width: 50%;
    }
    .sub-footer{
        flex-direction: column;
        align-items: center;
    }
    .sub-footer .sub{
        width: unset;
    }
    .sub-footer .sub p{
        text-align: center;
    }
    .sub-footer .sub .payment-card-bottom ul{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
@media (max-width: 577px){
    .header-down .container .menu {
        margin: 0;
    }
    .header-down .container .menu .menu-left{
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    .mobile-fix-option {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
        background-color: #333333;
        width: 100%;
        z-index: 9;
        box-shadow: 0 2px 5px 0 rgb(168, 168, 168);
        align-items: center;
        justify-content: space-around;
    }
    .mobile-fix-option i{
        cursor: pointer;
        display: inline-block;
        font-size: 22px;
        color: #999999;
    }
    
    .top-header{
        display: none;
    }
    .header-down .container .menu .menu-right .icon-menu{
        display: none;
    }
    .header-down .container .menu .menu-left .icon-menu-bar i{
        display: block;
    }
    footer .end{
        display: block;
    }
}
@media (max-width: 480px){
    .header-down .container .menu .menu-left img{
        height: 25px;
    }


    .form-email-container .email-form .form-group .form-control{
        width: 215px;
    }
    .btn-solid{
        padding: 14px 8px;
    }
    .about-container .abouts .content-right{
        padding-top: 277px;
    }
}
@media (max-width: 320px){
    .form-email-container .email-form .form-group .form-control{
        width: 170px;
    }
    .about-container .abouts .content-right{
        padding-top: 357px;
    }
}
@media (max-width: 230px){
    .about-container .abouts .content-right{
        padding-top: 530px;
    }
}