@font-face {
    font-family: Lato;
    src: url(../font/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
:root{
    --theme-deafult: #e4604a;
    --background-color-recent: #f1f5f4;
    --bs-body-color: #212529;
    --black-color: #000000;
    --background-color-footer:#f9f9f9;
    --bs-body-bg: #fff;
    --color-f1f1f1: #f1f1f1;
    --bs-border-width: 1px;
    --bs-border-radius: 0.375rem;
}
body{
    font-family: Lato, sans-serif;
    position: relative;
    background: #fff;     /*#ffffff*/
    font-size: 14px;
    overflow-x: hidden;
    min-width: unset !important;
}
a{
    color: #222222;
}
ul{
    list-style: none;
}

/* //////////////////////////////////////////////////Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header {
    background-color: #ffffff;
}

/* ////////////////////////////////////////Header Top\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.top-header{
    background: #f8f8f8;
}
.container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}
.top-header .container .row{
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
    padding: 15px 0px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-0.5* var(--bs-gutter-x));
    margin-left: calc(-0.5* var(--bs-gutter-x));
}
.row > *{
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-top: var(--bs-gutter-y);
}
.top-header .container .row .header-content-left{
    display: flex;
    gap: 25px;
    width: 50%;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}
.top-header .container .row .header-content-left .phon-number{
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.top-header .container .row .header-content-left .phon-number i{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    width: 50%;
    color: #999999;
    font-size: 14px;
    line-height: 21px;
}
.top-header .container .row .header-content-Right div:hover{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right .my-account:hover ul{
    opacity: 1;
    transform: translateY(-20px);
    visibility: visible;
}
.top-header .container .row .header-content-Right div ul{
    top: 50px;
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    transition: all linear 0.3s;
    min-width: 160px;
    text-align: left;
    box-shadow: 0 0 1px 0 #ebebeb;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: -52px;
    padding: 15px 20px;
    border-radius: 0 !important;
    transition: all 0.5s ease 0.5s;
}
.top-header .container .row .header-content-Right div ul li{
    color: var(--black-color);
    font-family: 'Lato-Regular';
    padding-bottom: 5px;
}
.top-header .container .row .header-content-Right div ul li:hover{
    color: var(--theme-deafult);
}
.top-header .container .row .header-content-Right div{
    display: flex;
    align-items: baseline;
    gap: 5px;
    cursor: pointer;
}
.top-header .container .row .header-content-Right .my-account{
    position: relative;
}
.my-account:before {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    left: 100px;
    top: 2px;
}

/* ////////////////////////////////////////Header Down\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.mobile-fix-option{
    display: none;
}
.header-down .container .menu{
    display: flex;
    justify-content: space-between;
    margin: 0 64px;
    padding: 40px 0;
}
.header-down .container .menu .menu-left{
    display: flex;
    align-items: center;
    gap: 35px;
}
.header-down .container .menu .menu-left i{
    font-size: 24px;
}
.header-down .container .menu .menu-left .icon-menu-bar i{
    color: var(--theme-deafult);
    display: none;
}
.header-down .container .menu .menu-right{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.header-down .container .menu .menu-right .link-menu h3{
    display: inline;
    font-family: Lato-Regular;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 0;
    letter-spacing: 0.07em;
    position: relative;
    cursor: pointer;
}
.header-down .container .menu .menu-right .link-menu div{
    display: inline;
}
.link-menu .choose{
    z-index: 2;
}
.link-menu .choose li{
    display: block;
    position: relative;
    text-transform: capitalize; 
    padding-top: 15px;
    padding-left: 25px;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.9;
}
.link-menu .choose li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.link-menu .choose-second li{
    display: block;
    position: relative;
    text-transform: capitalize; 
    padding-top: 15px;
    padding-left: 25px;
    color: #222222;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.9;
}
.link-menu .choose-second li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.choose li:hover::after{
    width: 21%;
}


/* //////////////////////////////Menu Home\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .home{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .home .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu div:hover > span ,
 .header-down .container .menu .menu-right .link-menu div:hover h3{
    color: var(--theme-deafult) !important;
}
.header-down .container .menu .menu-right .link-menu .home:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .home .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
      right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .home .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .home .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .home .choose li .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .home .choose li:hover .choose-second{
    display: block;
}

/* //////////////////////////////Menu Shop\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .shop{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .shop .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .shop:hover .choose{
    display: block;
}

/* //////////////////////////////Menu Products\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .products{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .products .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .products:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .products .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
    right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .products .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .products .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .products .choose .first .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .products .choose .first:hover .choose-second {
    display: block;
}

/* //////////////////////////////Menu Features\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .features{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .features .choose{
    position: absolute;
    top: 40px;
    left: -890px;
    width: 1316px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .features:hover .choose{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    left: -520%;
}
.header-down .container .menu .menu-right .link-menu .features .choose .column .title h5{
    margin-left: 25px;
    font-size: 14px;
    font-family: 'Lato-Regular';
}

.header-down .container .menu .menu-right .link-menu .lable-new{
    position: absolute;
    background-color: var(--theme-deafult);
    padding: 2px 7px;
    color: #ffffff;
    top: -20px;
    text-transform: uppercase;
    font-size: 9px;
    left: 0;
    line-height: 1.3;
}
.header-down .container .menu .menu-right .link-menu .lable-new::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--theme-deafult);
    top: 15px;
    left: 5px;
}

/* //////////////////////////////Menu Blogs\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .blogs{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .blogs .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .blogs:hover .choose{
    display: block;
}

/* //////////////////////////////Menu Pages\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .link-menu .pages{
    position: relative;
}
.header-down .container .menu .menu-right .link-menu .pages .choose{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 15px 0px 15px 0px;
    background: white;
    display: none;
}
.header-down .container .menu .menu-right .link-menu .pages:hover .choose{
    display: block;
}
.container .menu .menu-right .link-menu .pages .choose li span{
    position: absolute;
    top: 70%;
    margin-top: -17px;
    left: 170px;
    right: 15px;
    width: 34px;
    height: 34px;
    overflow: hidden;
    font: bold 16px / 34px monospace !important;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;
}
.container .menu .menu-right .link-menu .pages .choose li span::before{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
}
.header-down .container .menu .menu-right .link-menu .pages .choose li{
    position: relative;
}
.container .menu .menu-right .link-menu .pages .choose li .choose-second{
    position: absolute;
    top: 0px;
    left: 200px;
    width: 200px;
    box-shadow: 0 0 1px 0 #ebebeb;
    padding: 0px 0px 15px 0px;
    background: white;
    display: none;
}
.menu .menu-right .link-menu .pages .choose li:hover .choose-second{
    display: block;
}

/* /////////////////////////Menu Sub Arrow Icon\\\\\\\\\\\\\\\\\\\\\\\\\ */

.header-down .container .menu .menu-right .link-menu .sub-arrow{
    padding-right: 40px;
    padding-left: 5px;
    line-height: 23px;
    font-size: 16px;
}
.header-down .container .menu .menu-right .link-menu .sub-arrow::before{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    font-weight: bolder;
    padding-right: 45px;
}

/* /////////////////////////Menu Icons\\\\\\\\\\\\\\\\\\\\\\\\\ */


.header-down .container .menu .menu-right .icon-menu{
    display: flex;
    height: 24px;
    gap: 15px;
}
.header-down .container .menu .menu-right .icon-menu .search_btn{
    cursor: pointer;
}
.modal-search-container{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    cursor: auto;
}
.modal-search-container .modal-search{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-search-container .modal-search .closebtn{
    position: fixed;
    top: 10px;
    right: 25px;
    color: #777777;
    font-size: 40px;
    cursor: pointer;
}
.modal-search-container .modal-search .overlay-content{
    width: 90%;
}
.modal-search-container .modal-search form input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #777777;
    border-radius: 0;
    padding: 20px 0;
    width: 100%;
}
.menu .menu-right .icon-menu .setting-image .show-div,
.menu .menu-right .icon-menu .shopping-cart{
    top: 123px;
    position: absolute;
    z-index: 9;
    background-color: #ffffff;
    transition: all linear 0.3s;
    min-width: 175px;
    text-align: left;
    box-shadow: 0 0 1px 0 #ebebeb;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    right: 0;
    padding: 0;
    border-radius: 0 !important;
    padding: 15px 20px 20px;
    right: 60px;
    left: unset;
    transition: all 0.5s ease 0.5s;
}
.menu .menu-right .icon-menu .setting-image .show-div h6{
    font-size: 16px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 5px;
    font-family: 'Lato-Regular';
    cursor: auto;
}
.menu .menu-right .icon-menu .setting-image .show-div h6:first-child{
    margin-top: 0;
}
.menu .menu-right .icon-menu .setting-image .show-div ul li{
    display: flex;
    font-family: 'Lato-Regular';
    padding-bottom: 0;
    padding-left: 17px;
    padding-top: 5px;
}
.menu .menu-right .icon-menu .setting-image .show-div ul li a{
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
.menu .menu-right .icon-menu .setting-image{
    cursor: pointer;
}
.menu .menu-right .icon-menu .setting-image:hover .show-div,
.menu .menu-right .icon-menu .cart-btn:hover .shopping-cart {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible ;
}
.menu .menu-right .icon-menu .shopping-cart{
    top: 150px;
    padding: 15px 15px;
    min-width: 270px;
    left: unset;
    right: 70px;
    max-height: 315px;
    overflow: auto;
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar{
    width: 3px;
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar-track{
    background: var(--color-f1f1f1);
}
.menu .menu-right .icon-menu .shopping-cart::-webkit-scrollbar-thumb{
    background: var(--theme-deafult);
    border-radius: 5rem;
}
.menu .menu-right .icon-menu .shopping-cart h5{
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}
.menu .menu-right .icon-menu .shopping-cart li{
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    padding: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .media{
    display: flex;
}
.menu .menu-right .icon-menu .shopping-cart li .media a img{
    height: 90px;
    cursor: pointer;
    margin-right: 1rem !important;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body {
    align-self: center;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body h4{
    font-family: 'Lato-Regular';
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1;
    color: #333333;
}
.menu .menu-right .icon-menu .shopping-cart li .media .media-body h4 span{
    color: #777777;
    font-size: 16px;
}
.menu .menu-right .icon-menu .shopping-cart li .close-circle {
    position: absolute;
    top: 0;
    right: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .close-circle i {
    color: #a1a1a1;
    transition: all 0.3s ease;
}
.menu .menu-right .icon-menu .shopping-cart li .total {
    border-top: 1px solid #f1f5f4;
    border-bottom: 1px solid #f1f5f4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu .menu-right .icon-menu .shopping-cart li .total h5{
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}
.menu .menu-right .icon-menu .shopping-cart li .total h5 span{
    float: right;
}
.menu .menu-right .icon-menu .shopping-cart li:last-child {
    padding-bottom: 0;
}
.menu .menu-right .icon-menu .shopping-cart li .buttons a {
    margin-top: 5px;
    font-family: 'Lato-Regular';
    font-size: 16px;
    color: #333333;
    text-transform: capitalize;
}
.menu .menu-right .icon-menu .shopping-cart li .buttons{
    display: flex;
    justify-content: space-between;
}



.header-down .container .menu .menu-right .icon-menu .count-products-purchased{
    position: absolute;
    background: var(--theme-deafult);
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 80px;
    right: 65px;
    padding: 3px 3px;
}
.header-down .container .menu .menu-right .icon-menu .icon-menu-bar i{
    font-size: 24px;
    display: none;
    color: var(--theme-deafult);
}

/* //////////////////////////////Setting Fixed\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header .setting{
    position: fixed;
    top: 50%;
    background-color: #f7f7f7;
    width: 40px;
    height: 40px;
    font-size: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    transition: all 0.5s ease;
    z-index: 2;
    cursor: pointer;
}

/* //////////////////////////////Dark Mode Fixed\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

header .dark-mode{
    position: fixed;
    font-family: 'Lato-Regular';
    right: 0;
    width: 40px;
    height: 38px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px 0px rgba(154, 154, 154, 0.54);
    top: calc(50% + 52px);
    cursor: pointer;
}

/* //////////////////////////////Tap Top\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.tap-top {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    right: 30px;
    z-index: 8;
    display: block;
    color: #fff;
    text-align: center;
    background: var(--theme-deafult);
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;
    bottom: 130px;
    padding-top: 10px;
}



/* //////////////////////////////////////////////////Photo Slider\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.container-slider{
    overflow: hidden;
}
.slider{
    position: relative;
}
.slider .slider-item.active{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}
.slider .slider-item{
    display: none;
    position: relative;
}
.slider .text{
    position: absolute;
    top: calc(50% - 90px);
    left: 80px;
    text-align: center;
}
.slider-item .img-slider{
    position: absolute;
    top: 0;
}
.slider-item1{
    background-image: url(../image/Slide-Clock1.png);
    background-size: cover;
    background-position: right;
}
.slider-item2{
    background-image: url(../image/Slide-Clock2.png);
    background-size: cover;
    background-position: right;
}
.slider-item .img-slider img{
    max-width:100vw;
    position: absolute;
}
.slider-item h4{
    font-family: Lato-Regular;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.4em;
    color: #777777;
    margin-bottom: 0;
    margin-top: -3px;
}
.slider-item h1{
    font-family: Lato-Regular;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}
.btn-solid {
    font-family: 'Lato-Regular';
    padding: 13px 29px;
    color: #ffffff !important;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-deafult) !important;
    background-image: linear-gradient(30deg, var(--theme-deafult) 50%, transparent 50%) !important;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}
.btn-solid:hover {
    background-position: 100%;
    color: #000000 !important;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}
.slider .prev{
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #000;
    font-family: "Lato-Regular";
    font-weight: lighter;
    position: absolute;
    top: 40%;
    right: -50px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    transition: right 0.4s ease-in;
    cursor: pointer;
}
.slider .next{
    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #000;
    font-family: "Lato-Regular";
    font-weight: lighter;
    position: absolute;
    top: 40%;
    left: -50px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px; 
    transition: left 0.4s ease-in;
    cursor: pointer;
}
.slider:hover .next{
    left: 100px;
}
.slider:hover .prev{
    right: 100px;
}

/*  //////////////////////////////////////////////////Brands\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  */

.list-brands, .watches-container2 .watches2, .recent-story .recents {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 50px 0;
}
.list-brands .brand {
    width: 50%;
    margin: 0 5.1rem;
    scroll-snap-align: start;
    scroll-margin-inline: 10.2rem;
    opacity: 0.5;
}
.list-brands .brand:hover{
    opacity: 1;
}
.list-brands .brand .itemImage {
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* //////////////////////////////////////////////////Offer Box\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.offer-box-container{
    background-image: url(../image/offer-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 90%;
}
.offer-box{
    padding-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.title h2{
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    text-align: center;
}
.title h2 span{
    color: var(--theme-deafult);
}
.timer{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    margin-top: 30px;
    background-color: #2d2a25;
    display: inline-block;
}
.timer p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.timer span {
    width: 70px;
    display: inline-block;
}
.timer span .padding-l {
    padding-left: 22px;
    display: inline;
}
.timer span .timer-cal {
    font-size: 12px;
    color: #777777;
}

/* //////////////////////////////////////////////////Introducing Watches\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.introducing-watches-container,
.recent-story-container2,
.medias-contianer,
.sub-footer{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
.introducing-watches{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 50px 0;
}
.introducing-watches .introducing-watch{
    width: 50%;
    min-height: 1px;
    float: left;
}
.introducing-watches .introducing-watch .ng-star-inserted{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    width: 50%;
    margin: 0 1.2rem;
    scroll-snap-align: start;
    scroll-margin-inline: 2.4rem;
}

.category-wrapper {
    border: 1px solid #dddada;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    width: 90%;
    
}
.introducing-watch:hover .category-wrapper:before,.introducing-watch:hover .category-wrapper:after {
    width: 100%;
}
.introducing-watch:hover .category-wrapper > div:after ,.introducing-watch:hover .category-wrapper > div:before {
    height: 100%;
}
.category-wrapper:before {
    right: 0;
    top: 0;
}
.category-wrapper:after {
    left: 0;
    bottom: 0;
}
.category-wrapper > div:after {
    right: 0;
    bottom: 0;
}
.category-wrapper > div:before {
    left: 0;
    top: 0;
}
.category-wrapper:before ,.category-wrapper:after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--theme-deafult);
}
.category-wrapper > div:after, .category-wrapper > div:before {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--theme-deafult);
    transition-delay: 0s;
}
.category-wrapper img {
    display: inline;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    
}
.w-auto {
    width: auto !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.category-wrapper h4,.category-wrapper .h4 {
    font-family: "Lato-Regular";
    font-size: 19px;
    text-transform: uppercase;
    color: #2d2a25;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
}
.category-wrapper .category-link li:first-child {
    margin-top: 0;
}

.category-wrapper .category-link li {
    display: block;
    font-family: "Lato-Regular";
    text-transform: capitalize;
    margin-top: 5px;
}
.category-wrapper .category-link li a {
    color: #948e8c;
    
}
.btn-outline {
    font-family: "Lato-Regular";
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 29px;
    margin-top: 20px;
    letter-spacing: 0.05em;
    border: 2px solid var(--theme-deafult);
    position: relative;
    color: #000000;
}
.btn-outline:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
}
.btn-outline:hover{
    color: #fff;
}
.btn-outline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 0%;
    height: 100%;
    background-color: var(--theme-deafult);
    transition: 0.5s all ease;
    z-index: -1;
}


/* //////////////////////////////////////////////////TRENDING PRODUCTS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.trending-products-container{
    background-color: #fdf1ef;
}
.trending-products .popular-categories {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: -6px;
}
.trending-products .title h2,
.trending-products2 .title h2,
.spacial-products .title h2,
.recent-story-container .title h2{
    padding: 60px 0px 30px 0;
    font-weight: bold;
}
.line-squares {
    position: relative;
    height: 1px;
    width: 180px;
    background-color: var(--theme-deafult);
    margin: 0 auto;
    margin-bottom: 55px;
    bottom: 0;
    top: 0;
}
.line-squares:before {
    left: 64px;
}

.line-squares span:before {
    right: 64px;
}
.line-squares:after {
    left: 78px;
}
.line-squares span:after {
    right: 78px;
}
.line-squares:after,.line-squares:before {
    position: absolute;
    height: 10px;
    width: 10px;
    content: "";
    background-color: var(--theme-deafult);
    top: -4px;
}

.line-squares span:after,.line-squares span:before {
    position: absolute;
    height: 10px;
    width: 10px;
    content: "";
    background-color: var(--theme-deafult);
    top: -4px;
}
.trending-products .popular-categories .popular-category {
    font-family: "Lato-Regular";
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.trending-products .popular-categories .popular-category .nav-link{
    text-transform: uppercase;
    cursor: pointer;
}
.trending-products .popular-categories .popular-category .nav-link.active{
    color: var(--theme-deafult);
} 

.watches-container,
.watches-container2,
.special-products-container .spacial-products,
.about-container{
    width: 90%;
    margin: auto;
    padding-bottom: 65px;
}
.watches-container .watches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.watches-container .watches .watch,
.spacial-products .watch {
    display: flex;
    flex-direction: column;
    animation: scaleIn 0.5s forwards;
    overflow: hidden;
}
@keyframes scaleIn {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
.watches-container .watches .watch .description-watch,
.spacial-products .watch .description-watch {
    margin-top: auto;
}
.watches-container .watches .watch .imglink img,
.watches-container2 .watches2 .watch .imglink img,
.spacial-products .watch .imglink img{
    max-width: 100%;
    height: auto;
}
.watches-container .watches .watch .imglink,
.spacial-products .watch .imglink{
    position: relative;
}
.watches-container .watches .watch .imglink .new,
.spacial-products .watch.watch5 .imglink .new{
    position: absolute;
    display: flex;
    top: 7px;
    left: 7px;
    background: var(--theme-deafult);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}


.watches-container .watches .watch .imglink .cart-box{
    bottom: 0;
    text-align: right;
    left: unset;
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    right: 0;
    transition: all 0.5s ease;
}
.watches-container .watches .watch .imglink .cart-box button{
    opacity: 0;
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    color: #6f6f6f;
    transform: translateX(20px);
    transition: transform 0.5s ease , opacity 0.5s ease;
}

.watches-container .watches .watch:hover .imglink .cart-box button:nth-child(1){
    opacity: 1;
    transform: translateX(0);
}
.watches-container .watches .watch:hover .imglink .cart-box button:nth-child(2){
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}
.watches-container .watches .watch:hover .imglink .cart-box button:nth-child(3){
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}
.watches-container .watches .watch:hover .imglink .cart-box button:nth-child(4){
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
}
.watches-container .watches .watch .imglink .cart-box button:hover{
    color: var(--theme-deafult);
    cursor: pointer;
}



.watches-container .watches .star,
.spacial-products .watch .star{
    margin: 5px 0;
}
.watches-container .watches .description-watch .watch-name,
.spacial-products .watch .description-watch .watch-name{
    font-weight: bold;
    color: #777777;
    line-height: 1;
    margin-bottom: 3px;
    padding-top: 0;
    padding-bottom: 5px;
    transition: all 0.5s ease;
    font-size: 16px;
    margin-top: 0;
}
.watches .description-watch .price,
.spacial-products .watch .description-watch .price {
    margin: 5px 0 10px;
    font-size: 18px;
}
.watches .description-watch .price span,
.spacial-products .watch .description-watch .price span{
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
}
.watches .description-watch .colors,
.spacial-products .watch .description-watch .colors {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.watches .description-watch .colors .color,
.spacial-products .watch .description-watch .colors .color {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 5px;
    transition: all 0.1s ease;
    cursor: pointer;
    vertical-align: middle;
}



/* //////////////////////////////////////////////////TRENDING PRODUCTS2\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.watches-container2 .watches2 .watch {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    width: 50%;
    margin: 0 1.3rem;
    scroll-snap-align: start;
    scroll-margin-inline: 2.6rem;
}

.watches-container2 .watches2 .watch .imglink img{
    max-width: 100%;
    height: auto;
}
.watches-container2 .watches2 .watch .description-watch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.watches-container2 .watches2 .watch .imglink{
    position: relative;
}
.watches-container2 .watches2 .watch .imglink .new{
    position: absolute;
    display: flex;
    top: 7px;
    left: 7px;
    background: var(--theme-deafult);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.watches-container2 .watches2 .watch .imglink .sale,
.spacial-products .watch.watch5 .imglink .sale{
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    top: 7px;
    right: 7px;
    letter-spacing: 0.1em;
    z-index: 1;
    color: #212529;
    font-family: 'Lato-Regular';
    font-weight: bold;
}
.watches-container2 .watches2 .watch .imglink .cart-box2,
.spacial-products .watch.watch5 .imglink .cart-box2 {
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    right: 0;
    left: 0;
    border-radius: 50px;
    width: max-content;
    padding: 12px 15px;
    box-shadow: 0 0 12px 0 #dddddd;
    bottom: 30px;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.4s ease;
}
.watches-container2 .watches2 .watch .imglink .cart-box2 button,
.spacial-products .watch.watch5 .imglink .cart-box2 button{
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
}
.watches-container2 .watches2 .watch .imglink .cart-box2 i,
.spacial-products .watch.watch5 .imglink .cart-box2 i{
    color: #6f6f6f;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.2s ease;
    display: inline-block;
    cursor: pointer;
    
}
.watches-container2 .watches2 .watch:hover .cart-box2,
.spacial-products .watch.watch5:hover .imglink .cart-box2{
    opacity: 1;
    transform: translateY(-30px);
}
.watches-container2 .watches2 .watch .imglink .cart-box2 i:hover,
.spacial-products .watch.watch5 .imglink .cart-box2 i:hover{
    color: var(--theme-deafult);
}
.watches-container2 .watches2 .star{
    margin: 5px 0;
}
.watches-container2 .watches2 .description-watch .watch-name{
    font-weight: bold;
    color: #777777;
    line-height: 1;
    margin-bottom: 3px;
    padding-top: 0;
    padding-bottom: 5px;
    transition: all 0.5s ease;
    font-size: 16px;
    margin-top: 0;
}
.watches2 .description-watch .price {
    margin: 5px 0 10px;
    font-size: 18px;
}
.watches2 .description-watch .price span{
    text-decoration: line-through;
    color: #aaa;
    font-size: 14px;
}
.watches2 .description-watch .colors {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.watches2 .description-watch .colors .color {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 5px;
    transition: all 0.1s ease;
    cursor: pointer;
    vertical-align: middle;
}

.trending-products-container2-image{
    width: 90%;
    margin: auto;
}
.trending-products-container2-image .images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;

}
.trending-products-container2-image .images .image{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.trending-products-container2-image .image img{
    width: 100%;
    height: auto;
}
.trending-products-container2-image .image h4{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    margin-top: -3px;
    position: absolute;
    top: calc(50% - 27px);
    left: 12%;
    font-family: 'Lato-Regular';
}
.trending-products-container2-image .image h2{
    font-size: 36px;
    letter-spacing: 0.05em;
    color: white;
    margin-top: 5px;
    margin-bottom: -7px;
    text-transform: uppercase;
    position: absolute;
    top: 44%;
    left: 12%;
    font-family: 'Lato-Regular';
}
.trending-products-container2-image .image:hover img{
    transform: scale(1.05);
}

/* //////////////////////////////////////////////////Special Products\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.spacial-products .watches{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.spacial-products .watch{
    display: flex;
    flex-direction: row;
}
.spacial-products .watch.watch1{
    grid-column:1 / 2 ;
    grid-row: 1/2;
    border-bottom: 1px solid #aaaaaa3c;
}
.spacial-products .watch.watch2{
    grid-column:1/2;
    grid-row: 2/3;
}
.spacial-products .watch.watch3{
    grid-column:3/4;
    grid-row: 1/2;
    border-bottom: 1px solid #aaaaaa3c;
}
.spacial-products .watch.watch4{
    grid-column:3/4;
    grid-row: 2/3;
}
.spacial-products .watch.watch5{
    grid-column:2/3;
    grid-row: 1/3;
    border-left: 1px solid #aaaaaa3c;
    border-right: 1px solid #aaaaaa3c;
    flex-direction: column;
    align-items: center;
}
.spacial-products .watch .description-watch {
    width: 100%;
    margin: auto;
    z-index: 1;
}
.spacial-products .watch:hover .imglink img{
    transform: scale(1.03);
}
.spacial-products .watch .description-watch5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* //////////////////////////////////////////////////Recent Story\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


.recent-story-container{
    background: var(--background-color-recent);
}
.recent{
    width: 50%;
    margin: 0 0.7rem;
    scroll-snap-align: start;
    scroll-margin-inline: 1.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    justify-items: center;
    gap: 20px;
}
.recent a{
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.classic-effect {
    position: relative;
    overflow: hidden;
}
.classic-effect span:before, .classic-effect span:after {
    background: var(--theme-deafult);
    width: 25%;
    position: absolute;
    content: "";
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    bottom: 100%;
    top: 0;
}
.classic-effect:before, .classic-effect:after {
    background: var(--theme-deafult);
    width: 25%;
    position: absolute;
    content: "";
    opacity: 0;
    transition: all 0.3s steps(4);
    z-index: 1;
    bottom: 100%;
    top: 0;
}
.classic-effect:before {
    left: 0;
    transition-delay: 0s;
}
.classic-effect:after {
    left: 25%;
    transition-delay: 0.1s;
}
.classic-effect span:before {
    left: 50%;
    transition-delay: 0.2s;
}
.classic-effect span:after {
    left: 75%;
    transition-delay: 0.3s;
}
.classic-effect:hover::before{
    opacity: 0.4;
    bottom: 0;
}
.classic-effect:hover::after{
    opacity: 0.4;
    bottom: 0;
    transition-delay: 0.05s;
}
.classic-effect:hover span::before{
    opacity: 0.4;
    bottom: 0;
    transition-delay: 0.15s;
}
.classic-effect:hover span::after{
    opacity: 0.4;
    bottom: 0;
    transition-delay: 0.25s;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.blog-details {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.blog-details h4{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: var(--theme-deafult);
    margin-top: 25px;
    line-height: 1;
    margin-bottom: 0;
}
.blog-details p {
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0;
    transition: all 0.5s ease;
}
.blog-details p:hover {
    color: var(--theme-deafult);
    transition: all 0.5s ease;
}
hr.style1 {
    width: 75px;
    height: 3px;
    margin-top: 13px;
    background-color: var(--theme-deafult);
    text-align: center;
    opacity: 1;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
}
.blog-details h6{
    font-size: 14px;
    font-weight: bold;
    color: #777777;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
}

/* //////////////////////////////////////////////////Media\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.medias-contianer {
    margin-bottom: 70px;
}
.medias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
    align-items: center;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-top: 71px;
}
.medias .media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 43px 0;
    
}
.medias .media .media-body h4{
    letter-spacing: 0.03em;
    font-size: 18px;
    font-family: 'Lato-Regular';
    line-height: 1;
    margin-bottom: 10px;
}
.medias .media .media-body p{
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #777777;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 0;
}
.medias .media:hover h4{
    color: var(--theme-deafult);
    transition: all 0.3s ease;
}
.medias .media:hover img{
    animation: pulse 1000ms ease-in-out;
    transition: all 0.3s ease;
}
@keyframes pulse {
    0%{scale: 1;}
    50%{scale: 1.03;}
    100%{scale: 1;}
}
.medias .media1 img{
    width: 17%;
    height: auto;
}
.medias .media1{
    border-right: 1px solid #dddddd;
}
.medias .media2 img{
    width: 13%;
    height: auto;
}
.medias .media2{
    border-right: 1px solid #dddddd;
}
.medias .media3 img{
    width: 20%;
    height: auto;
}

/* //////////////////////////////////////////////////Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.subscribe-contraner{
    background-color: var(--background-color-footer);
}
.subscribe-box{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #dddddd;
}
.subscribe{
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    border-right: 1px solid #dddddd;
    text-align: left;
}
.subscribe h4{
    font-family: 'Lato-Regular';
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    margin-top: -5px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
}
.subscribe p{
    font-family: 'Lato-Regular';
    letter-spacing: 0.03em;
    margin-bottom: 0;
    line-height: 1;
    font-size: 14px;
    color: #777777;
    margin-top: 0;
}
.form-email-container{
    width: 50%;
}
.form-email-container .email-form{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
}
.form-email-container .email-form .form-group{
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.form-email-container .email-form .form-group .form-control {
    padding: 13px;
    height: 50px;
    width: 345px;
    border-radius: 0;
    border: 1px solid #eeeeee;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-about-container{
    background-color: var(--background-color-footer);
}
.about-container .abouts{
    display: grid;
    grid-template-columns: 30% 70%;
}
.about-container .abouts .content-right{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.333%, 1fr));
    flex-wrap: wrap;
    padding-left: 160px;
}
.about-container .abouts .about{
    padding-top: 70px;
}
.about-container .abouts .about .footer-title h4{
    font-family: 'Lato-Regular';
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1;
    color: #222222;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.about-container .abouts .about .footer-title.footer-mobile-title{
    display: none;
}
.about-container .abouts .about .image-logo{
    margin-bottom: 18px;
}
.about-container .abouts .about p{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #777777;
    line-height: 32px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}
.about-container .abouts .about .social-media-div{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.about-container .abouts .about .social-media-div li{
    display: inline-block;
    padding-right: 45px;
}
.about-container .abouts .about .social-media-div li i{
    font-size: 20px;
    color: var(--black-color);
    transition: 0.5s ease;
}
.about-container .abouts .about .social-media-div li i:hover{
    color: var(--theme-deafult);
}
.about-container .abouts .about .footer-content .choose li{
    font-family: 'Lato-Regular';
    padding-top: 9px;
    text-transform: capitalize;
    font-size: 14px;
}
.about-container .abouts .about .footer-content .choose li a{
    position: relative;
    text-transform: capitalize;
    line-height: 1.9;
    color: #777777;
}
.about-container .abouts .about .footer-content .choose li a::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 0;
    height: 2px;
    background: var(--theme-deafult);
    transition: width 0.3s;
}
.about-container .abouts .about .footer-content .choose li a:hover::after{
    width: 100%;
}
.about-container .abouts .about .footer-content .content .communication li{
    position: relative;
    font-family: 'Lato-Regular';
    line-height: 28px;
    padding-left: 25px;
    padding-top: 9px;
    text-transform: capitalize;
    font-size: 14px;
    color: #777777;
}
.about-container .abouts .about .footer-content .content .communication li a{
    color: #777777;
}
.about-container .abouts .about .footer-content .content .communication li i{
    position: absolute;
    left: 0;
    top: 16px;
}

.sub-footer{
    display: flex;
    padding-top: 25px;
}
.sub-footer .sub{
    width: 50%;
}
.sub-footer .sub p{
    font-family: 'Lato-Regular';
    color: #777777;
}
.sub-footer .sub .payment-card-bottom ul{
    display: flex;
    justify-content: flex-end;
}
.sub-footer .sub .payment-card-bottom ul li{
    padding-left: 10px;
}




/* //////////////////////////////////////////////////Media Queries\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media (max-width:1200px){
    .menu .menu-right .link-menu{
        position: fixed;
        background-color: #fff;
        width: 300px;
        border-radius: 0;
        border: 1px solid #eee;
        top: 0;
        height: 100vh;
        right: -300px;
        z-index: 99;
        transition: all 0.3s ease;
        overflow: scroll;
    }
    .header-down .container .menu .menu-right .icon-menu .icon-menu-bar i{
        display: block;
    }
}
@media (max-width:991px){
    .top-header .container .row{
        justify-content: flex-end;
    }
    .top-header .container .row .header-content-left{
        display: none;
    }
    .trending-products-container2-image .image h4{
        font-size: 13px;
    }
    .trending-products-container2-image .image h2{
        font-size: 19px;
    }
}

@media (max-width:768px) {
    .trending-products-container2-image .images{
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }
    .top-header .container .row .header-content-Right{
        width: 100%;
    }
}
@media (max-width: 577px){
    .header-down .container .menu {
        margin: 0;
    }
    .header-down .container .menu .menu-left{
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    .mobile-fix-option {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
        background-color: #333333;
        width: 100%;
        z-index: 9;
        box-shadow: 0 2px 5px 0 rgb(168, 168, 168);
        align-items: center;
        justify-content: space-around;
    }
    .mobile-fix-option i{
        cursor: pointer;
        display: inline-block;
        font-size: 22px;
        color: #999999;
    }
    
    .top-header{
        display: none;
    }
    .header-down .container .menu .menu-right .icon-menu{
        display: none;
    }
    .header-down .container .menu .menu-left .icon-menu-bar i{
        display: block;
    }
}
@media (max-width: 480px){
    .header-down .container .menu .menu-left img{
        height: 25px;
    }
}